<launch>

  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_custom)/rviz/default.rviz" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <!-- namespaces -->
  <arg name="ns_01" default="" />

  <!-- BEGIN ROBOT 1 -->
  <group ns="UGV01">        

    <!-- control -->
    <include file="$(find jackal_move)/control/launch/control.launch">
        <arg name="enable_ekf" value="true" />    
        <arg name="ns" value="$(arg ns_01)" />        
        <arg name="joy_dev" value="$(arg joy_dev)" /> 
    </include>    

    <!-- navigation -->
    <include file="$(find jackal_move)/navigation/launch/move_base.launch">
        <arg name="ns" value="$(arg ns_01)" />
    </include>

    <!-- PF node -->
    <include file="$(find jackal_pf)/launch/PF_instance.launch">
        <arg name="ns" value="$(arg ns_01)" />
    </include>

    <!-- DISTANCE VISUALIZATION -->
    <include file="$(find jackal_range)/launch/vis_line.launch" >
      <arg name="ns" value="UGV01/" />      
    </include> 

  </group>


</launch>