<launch>

  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_custom)/rviz/default.rviz" />

  <arg name="joy_dev" default="/dev/input/js0" />
  <include file="$(find jackal_move)/control/launch/teleop.launch" >
    <arg name="joy_dev" value="$(arg joy_dev)" /> 
  </include>

  <!-- Run Websocket. -->
  <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
      <arg name="port" value="9090"/>
  </include> -->

  <!-- Tf2 publisher -->
  <!-- <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher">
  </node>   -->


</launch>