<launch>

  <!-- args -->
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="ns" default="" />
  
  <!-- params -->
  <param name="use_gui" value="true"/>

  <!-- nodes -->
  <node pkg="rosservice" type="rosservice" name="set_logger_level" args="call /rviz/set_logger_level '{logger: 'ros.rviz', level: 'ERROR'}'"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_custom)/rviz/multi.rviz" />
  
  <!-- BEGIN ROBOT 1 -->
  <group ns="UGV01">    

    <!-- DISTANCE VISUALIZATION -->
    <include file="$(find jackal_range)/launch/vis_line.launch" >
      <arg name="ns" value="UGV01/" />      
    </include> 

  </group>

  <!-- BEGIN ROBOT 1 -->
  <group ns="UGV02">    

    <!-- DISTANCE VISUALIZATION -->
    <include file="$(find jackal_range)/launch/vis_line.launch" >
      <arg name="ns" value="UGV02/" />      
    </include> 

  </group>


</launch>