<launch>

    <!-- Configuration of Jackal which you would like to simulate. -->
    <arg name="config" default="base" />
    <arg name="robot_name" default="Jack01" />    
    <arg name="right_id" default="1" />
    <arg name="init_pose" default="-x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>
    <arg name="joystick" default="true" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="enable_ekf" default="true" />
    <arg name="ns" default="" />    

    <!-- Load Jackal's description -->
    <include file="$(find jackal_custom)/launch/descriptions/description_real.launch">
        <arg name="config" value="$(arg config)" />
        <arg name="right_id" value="$(arg right_id)" />   
        <arg name="ns" value="$(arg ns)" />     
    </include>

    <!-- Run default base jackal HW -->
    <include file="$(find jackal_custom)/launch/descriptions/base.launch">
    </include>

    <!-- control -->
    <!-- <include file="$(find jackal_move)/control/launch/control.launch">
        <arg name="enable_ekf" value="true" />    
        <arg name="ns" value="$(arg ns)" />        
        <arg name="joy_dev" value="$(arg joy_dev)" /> 
    </include> -->

    <!-- navigation -->
    <!-- <include file="$(find jackal_move)/navigation/launch/move_base.launch">
        <arg name="ns" value="$(arg ns)" />
    </include> -->

    <!-- UWB measurement -->      
    <!-- <node pkg="jackal_range" name="UWB_read" type="UWB_read.py"
        args="/dev/ttyACM0 115200 $(arg ns)/Tag01" />  -->

    <!-- PF node -->
    <!-- <include file="$(find jackal_pf)/launch/PF_instance.launch">
        <arg name="ns" value="$(arg ns)" />
    </include> -->


</launch>