# files not to be uploaded on git

# specific files
doc/code/SetupJackal.md

# directories
src/setup/
src/catkin_ws/devel/
src/catkin_ws/build/
src/.vscode/

fig/
res/
Zelazo2024/

# general files (extensions)
*.bag
*.log
*.asv
*.gif
*.pyc
.env
/PF/results
