# files not to be uploaded on git

# specific files
doc/code/SetupJackal.md

# directories
src/setup/lib
src/setup/optim
src/setup/CERES-SOLVER
src/catkin_workspace/devel
src/catkin_workspace/build
fig/
res/
Zelazo2024/

# general files (extensions)
*.bag
*.log
*.asv
*.gif
