<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find jackal_custom)/navigation/config/costmap_params_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jackal_custom)/navigation/config/costmap_params_common.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find jackal_custom)/navigation/config/costmap_params_local.yaml" command="load" />
    <rosparam file="$(find jackal_custom)/navigation/config/costmap_params_global.yaml" command="load" />
    
    <rosparam file="$(find jackal_custom)/navigation/config/planner_params_base_local.yaml" command="load" />
    <rosparam file="$(find jackal_custom)/navigation/config/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
    <remap from="odom" to="odometry/filtered" />
  </node>

</launch>
