<launch>

  <arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>
  <arg name="ns" default="" />  
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="real_robot" default="" />

  <arg name="baselinkname" default="$(arg ns)base_link" />
  <arg name="odomlinkname" default="$(arg ns)odom" />

  <rosparam command="load" file="$(find jackal_move)/control/config/control.yaml" />
  <rosparam param="jackal_velocity_controller/base_frame_id" subst_value="True">$(arg baselinkname)</rosparam>
  <rosparam param="jackal_velocity_controller/odom_frame_id" subst_value="True">$(arg odomlinkname)</rosparam>

  <!-- this I still need to understand why -->
  <group if="$(arg real_robot)">
    <rosparam param="jackal_velocity_controller/left_wheel" subst_value="True">['front_left_wheel', 'rear_left_wheel']</rosparam>
    <rosparam param="jackal_velocity_controller/right_wheel" subst_value="True">['front_right_wheel', 'rear_right_wheel']</rosparam>
  </group>
  <group unless="$(arg real_robot)">
    <rosparam param="jackal_velocity_controller/left_wheel" subst_value="True">['$(arg ns)front_left_wheel', '$(arg ns)rear_left_wheel']</rosparam>
    <rosparam param="jackal_velocity_controller/right_wheel" subst_value="True">['$(arg ns)front_right_wheel', '$(arg ns)rear_right_wheel']</rosparam>
  </group>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
    args="jackal_joint_publisher jackal_velocity_controller" >
  </node>

  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_move)/control/config/robot_localization.yaml" />
      <param name="odom_frame"      value="$(arg ns)odom"/>
      <param name="base_link_frame" value="$(arg ns)base_link"/>
      <param name="world_frame"     value="$(arg ns)odom"/>
      <param name="odom0"       value="/$(arg ns)jackal_velocity_controller/odom"/>      
      <!-- <param name="odom1"       value="/$(arg ns)PFest"/> -->
      <!-- <param name="odom0"       value="/$(arg ns)ground_truth/state"/>     -->
      <!-- <param name="odom1"       value="/$(arg ns)ground_truth/state"/>     -->
      <param name="imu0"       value="/$(arg ns)imu/data/remap"/>   
    </node>    
  </group>      

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find jackal_move)/control/config/twist_mux.yaml" />    
    <remap from="cmd_vel_out" to="jackal_velocity_controller/cmd_vel"/>
  </node>  

  <include file="$(find jackal_move)/control/launch/teleop.launch" >
    <arg name="joy_dev" value="$(arg joy_dev)" /> 
  </include>  

</launch>
