<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Jackal">
    <xacro:include filename="$(find jackal_custom)/urdf/xacro/jackal_custom_base.urdf.xacro" />
        
    <xacro:arg name="right_id" default="1" />
    <xacro:arg name="left_id" default="2" />
    
    <xacro:property name="right" value="$(arg right_id)" />
    <xacro:property name="left" value="$(arg left_id)" />    

    <!-- -->
    <link name="right_tag">
        <inertial>
            <mass value="0.1" />
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>

        <collision>
            <origin xyz="0 -0.013 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.026 0.102"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
            <geometry>
                <mesh filename="package://jackal_custom/models/DecaWave/meshes/Decawave.stl"/>
            </geometry>
            <!--material name="right_tag_color">
                <color rgba="200 0 0 0"/>
            </material-->
        </visual>
    </link>

    <joint name="right_tag_joint" type="fixed">
        <origin xyz="0.095 0.164 0.184" rpy="0 0 0"/>
        <parent link="chassis_link"/>
        <child link="right_tag"/>
    </joint>

    <gazebo reference="right_tag_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="right_tag">
        <material>Gazebo/Green</material>
    </gazebo>


    <!-- -->
    <link name="left_tag">
        <inertial>
            <mass value="0.1" />
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>

        <collision>
            <origin xyz="0 -0.013 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.026 0.102"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
            <geometry>
                <mesh filename="package://jackal_custom/models/DecaWave/meshes/Decawave.stl"/>
            </geometry>
            <!--material name="left_tag_color">
                <color rgba="0 200 0 0"/>
            </material-->
        </visual>
    </link>

    <joint name="left_tag_joint" type="fixed">
        <origin xyz="0.095 -0.164 0.184" rpy="0 0 0"/>
        <parent link="chassis_link"/>
        <child link="left_tag"/>
    </joint>

    <gazebo reference="left_tag_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="left_tag">
        <material>Gazebo/Red</material>
    </gazebo>
    
</robot>