<launch>
  <arg name="config" default="base" />
  <arg name="right_id" default="1" />
  <arg name="ns" default="" />

  <arg name="env_runner" value="$(eval 'env_run' if not optenv('OS', 'unknown').lower().startswith('windows') else 'env_run.bat')" />

  <param name="robot_description"
        command="$(find jackal_description)/scripts/$(arg env_runner)
                    $(find jackal_custom)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find jackal_custom)/urdf/xacro/jackal_custom_base_real.urdf.xacro 
                    right_id:=$(arg right_id) ns:=$(arg ns) --inorder" />
                    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="10"/>
    <param name="use_tf_static" value="false"/>
  </node>
</launch>