<launch>    

    <!-- Configuration of Jackal which you would like to simulate. -->
    <arg name="ns" default="" />

    <!-- PF node -->
    <node pkg="jackal_pf" name="PF" type="PFnode.py" >
        <param name="NS_name" type="string" value="$(arg ns)" />
        <param name="N_particles" type="double" value="2000" />    
    </node>    

</launch>