<launch>

    <!-- anchors params -->
    <arg name="AX" default="" />
    <arg name="AY" default="" />
    <arg name="AZ" default="" />  

    <!-- Configuration of Jackal which you would like to simulate. -->
    <arg name="ns" default="" />   

    <!-- parameter to select real or simulated data -->
    <arg name="real" default="" />

    <!-- ANCHORS SERVER -->
    <!-- this is run when the arg $real is true -->
    <group if="$(arg real)">        
        <node pkg="jackal_range" name="anchors_server_real_real" type="anchors_server.py">
            <param name="anchors_pos" type="string" value="" />                    
            <param name="topic_name" type="string" value="/$(arg ns)AnchorsInfoReal" />
        </node>  
    </group>

    <!-- this is run when the arg $real is false -->
    <group unless="$(arg real)">         
        <node pkg="jackal_range" name="anchors_server_real_sim" type="anchors_server.py">
            <!-- <param name="anchors_pos" type="string" value="+$(arg AX) +$(arg AY) +$(arg AZ) -$(arg AX) +$(arg AY) +$(arg AZ) -$(arg AX) -$(arg AY) +$(arg AZ) +$(arg AX) -$(arg AY) +$(arg AZ)" />         -->
            <param name="anchors_pos" type="string" value="4 0 +$(arg AZ) -4 0 +$(arg AZ) -4 -10 +$(arg AZ) 4 10 +$(arg AZ)" />
            <param name="topic_name" type="string" value="/$(arg ns)AnchorsInfoReal" />
        </node>  
    </group>    

</launch>